.finishRoundButton{
    bottom: 1vh;
    left: 1vh;
    z-index: 9999;
    position: fixed;
    width: 20vw;
    height: 3vh;
}

.genericButton {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
}