.finishRoundButton{
    bottom: 1vh;
    left: 1vh;
    z-index: 9999;
    position: fixed;
    width: 20vw;
    height: 3vh;
    background-color: var(--color-five);
    border-radius: 5px;
    border: none;
}

.genericButton {
    padding: 20px 40px;
    border-radius: 5px;
    font-size: 15px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
