.footer-container {
    background-color: var(--color-one);
    color: white;
    padding: 20px;
    width: 100%;
    position: relative;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    gap: 50px;
}
.footer-container a {
    color: white;
    gap: 10px;
    text-decoration: none;
    font-size: 18px;
    display: flex;
    align-items: center;
}