.headerContainer {
  /* background-color: rgb(0, 0, 0, 0.3); */
  color: white;
  padding: 15px;
  width: 100%;
  position: absolute;
  top: 0;
  align-self: start;
  justify-self: start;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
}

.headerButtons a{
  text-decoration: none;
}

.icon a{
  text-decoration: none;
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 5px;
  gap: 10px;
}

.headerButtons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}