.forms {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 80px;
    width: 80%;
    height: 60%;
    margin: 0 auto;
}

.separator {
    border-left: 1px solid;
    height: 60%;
}

.loginForm label,
.registerForm label {
    display: block;
    font-size: 20px;
    margin-bottom: 5px;
}

.loginForm h1,
.registerForm h1 {
    font-size: 50px;
    margin-bottom: 20px;
}

.loginForm, .registerForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.formLabel {
    font-size: 20px;
    margin-bottom: 5px;
    margin-top: 20px;
    color: white;
}

.formInput{
    width: 300px;
}
