#map {
    position: fixed;
    bottom: 22.5vw;
    left: 1vh;
    z-index: 9999;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 20vw;
    height: 20vw;
}

#scoremap {
    z-index: 9999;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 40vw;
    height: 66vh;
}