.menuTitle {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 100px;
    font-weight: bold;
    color: white;
}

.menuSubTitle {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    margin-bottom: 30px;
    font-weight: normal;
    color: white;
}

.howToPlayContainer {
    width: 100%;
    height: 70vh;
    background-color: var(--color-three);
}

.howToPlayContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.htpTitle {
    font-size: 40px;
}

.htpSubTitle {
    font-size: 30px;
}

.menuButtons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.selectGamemodeMenu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}
/* 
.selectGamemodeMenu .menuButtons{
    gap: 20px;
    margin-top: 30px;
} */