.timer {
    position: fixed;
    z-index: 1000;
    top: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 30%;
    min-width: 100px;
    border-radius: 15px;
    background-color: rgba(0, 180, 204, 0.6); /* Semi-transparent background var(--color-four);*/
}